@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-booking-link {
    padding: 8px 34px;
    background-color: #756257;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    align-self: center;
}

.button-booking-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    box-sizing: border-box;
}

.total {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    font-size: 10px;
    color: #fff;
    background-color: #7DB550;
    border-radius: 50%;
    z-index: 1;
}

/* Шапка */

.page-header {
    display: flex;
    align-items: flex-start;
    padding: 0 70px;
    font-family: inherit;
    color: #000000;
    background: #FFFFFF;
}

.page-header-logo {
    margin-bottom: -5px;
    z-index: 1;
    width: 140px;
    height: 70px;
    margin-right: 30px;
}

/* Навигация */

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;

}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-item {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0 17px;
}

.navigation-user-item {
    margin: 0;
}

.navigation-user-item:last-child {
    margin-left: 20px;
}

.navigation-user-item-link {
    display: flex;
    flex-wrap: wrap;
    background: #756257;
    Width: 160px;
    Height: 37px;
}

.navigation-user-link {
    display: flex;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    min-height: 66px;
}

.navigation-user-list {
    display: flex;
    align-items: center;
    min-width: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Основной контент */

.main-container {
    flex-grow: 1;
}

.main-index {
    padding-top: 0;
    background-color: #FFFFFF;
}

.hero {
    background-color: #69796e;
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 80px;
    min-height: 485px;
    text-align: center
}

.promo {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.promo-title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

/* Преимущества */

.advantages {
    background-color: #FFFFFF;
    width: 1200px;
}

.advantages-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
    counter-reset: li;
}

.advantages-caption {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-description {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.advantages-description-text {
    color: #333333;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-text {
    color: #333333;
}

.container-text {
    width: 33.33%;
    box-sizing: border-box;
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item h3::after {
    content: "—№"counter(li)"—";
    counter-increment: li;
    display: block;
}

.advantages-item-text-block {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
    margin: 0;
    padding-top: 97px;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.advantages-caption {
    font-size: 18px;
    line-height: 21px;
    padding-top: 30px;
    padding-bottom: 87px;
    margin: 0;
    text-align: center;
}

.advantages-backround {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    list-style-type: none;
}

.advantages-sublist-item:nth-child(even) {
    background: #FFFFFF;
}

.advantages-sublist-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.quest {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    width: 1200px;
}

.quest-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.quest-button {
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756257;
}

.subscribe-button {
    background: #83B3D3;
}

.subscribe {
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    width: 1200px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.subscribe-has-background {
    background-image: url("../images/email-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.subscribe-has-background .subscribe-title {
    color: #FFFFFF
}

.subscribe-button-newsletter {
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.social-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.social-link:active {
    opacity: 0.3;
    border: none;
}

.footer-social-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 120px;
    padding: 0;
    margin: 0;
}

.footer-contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* Каталог */

.catalog-products {
    flex-wrap: wrap;
}

.navigation-link-current {
    text-decoration: none;
}

.main-inner {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.inner-header-container {
    background-size: 1200px 100%;
    min-height: 408px;
    padding: 35px 72px 45px 71px;
    background-image: url("../images/catalog-background-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

.inner-header-title {
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 70px;
    margin-bottom: 45px;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-item {
    margin-right: auto;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 20px;
}

.breadcrumbs-link {
    padding: 5px 8px;
    margin-left: -5px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.filter-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
}

.catalog-filter-group {
    margin-right: 34px;
}

.filters-group {
    flex: none;
    box-sizing: border-box;
    width: 287px;
    margin-right: 81px;
    margin-left: auto;
}

.catalog-filter-item {
    margin-bottom: 16px;
}

.catalog-result {
    display: flex;
    padding: 44px 72px 0 72px;
    flex-direction: column;
}

.filters-buttons {
    width: 160px;
    text-align: center;
}

.catalog-result-text {
    margin-right: auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 5px;
}

.catalog-filter-list {
    color: #ffffff;
    list-style-type: none;
}

.catalog-wrapper {
    display: flex;
    margin-bottom: 53px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 44px;
}

.dropdown {
    width: 287px;
    height: 48px;
    font-family: inherit;
    font-size: 18px;
    line-height: 23px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    color: #333333;
}

.dropdown:hover {
    border: 2px solid #83B3D3;
}

.dropdown:focus {
    border: 2px solid #83B3D3;
    outline: none;
}

.dropdown:focus:not(:focus-visible) {
    border: 2px solid #E6E6E6;
}

.dropdown:focus-visible {
    border: 2px solid #83B3D3;
    outline: none;
}

.dropdown:active {
    border: 2px solid #E6E6E6;
    color: rgba(51, 51, 51, 0.3);
}

.catalog-card-item {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 340px;
    outline: 1px solid pink;
}

.button-select-control {
    display: flex;
    margin-left: 81px;
    flex-wrap: wrap;
}

.catalog-displaytype {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
}

.catalog-displaytype-item {
    margin-bottom: 8px;
}

.catalog-displaytype-link {
    display: block;
    width: 17px;
    height: 16px;
    padding: 14px 13.5px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 14px;
}

.catalog-card-link {
    display: block;
    width: 300px;
    height: 206px;
    background-color: #ccc;
    text-decoration: none;
    color: #000000;
}

.catalog-card-link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid green;
}

.catalog-card-text {
    font-size: 18px;
    line-height: 23px;
}

.catalog-displaytype-link:not(.catalog-displaytype-current):hover {
    border: 2px solid #83B3D3;
}

.catalog-displaytype-link:focus {
    border: 2px solid #83B3D3;
    outline: none;
}

.catalog-displaytype-link:focus:not(:focus-visible) {
    border: 2px solid #E6E6E6;
}

.catalog-displaytype-current:focus:not(:focus-visible) {
    border: 2px solid #000000;
}

.catalog-displaytype-link:focus-visible {
    border: 2px solid #83B3D3;
    outline: none;
}

.catalog-displaytype-item:not(:last-child) {
    margin-right: 8px;
}

.catalog-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 18px;
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #E6E6E6;
}

.catalog-card-link {
    text-decoration: none;
}

.catalog-card-linkimage:hover {
    opacity: 0.6;
}

.catalog-card-linkimage:focus {
    box-shadow: 0 0 0 3px #83B3D3;
    outline: none;
}

.catalog-card-linkimage:focus:not(:focus-visible) {
    box-shadow: none;
}

.catalog-card-linkimage:focus-visible {
    outline: 3px solid #83B3D3;
}

.catalog-card-linkimage:active {
    opacity: 0.3;
}

.catalog-card-title {
    grid-column: 1 / -1;
    margin: 0;
}

.card-link-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.catalog-card-text {
    margin: 0;
    line-height: 23px;
}

.button-small {
    grid-column: 1/2;
    display: inline-block;
    width: 133.01px;
    height: 37px;
    padding: 8px 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #756257;
    border-radius: 4px;
}

.button-success {
    background: #7DB54F;
    border-radius: 4px;
    width: 133.01px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.submit-button {
    background: #83B3D3;
    border-radius: 4px;
    min-width: 160px;
    margin-bottom: 20px;
    justify-items: center;
}

.submit-button:focus {
    box-shadow: 0 0 0 3px var(--white);
}

.submit-button:focus:not(:focus-visible) {
    box-shadow: none;
}

.submit-button:focus-visible {
    outline: 3px solid var(--white);
}

.reset-button {
    width: 160px;
    width: min-content;
    align-self: center;
    padding: 0 10px;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
}

.reset-button:hover {
    opacity: 0.6;
}

.reset-button:focus {
    box-shadow: 0 0 0 3px var(--primary);
}

.reset-button:focus:not(:focus-visible) {
    box-shadow: none;
}

.reset-button:focus-visible {
    outline: 3px solid var(--primary);
}

.reset-button:active {
    opacity: 0.3;
}

.button-favorites {
    grid-column: 3/4;
    width: 133.01px;
    height: 37px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.312;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #83b3d3;
    border: none;
    border-radius: 4px;
}

.stars {
    grid-column: 1/2;
}

.catalog-card-text-rating {
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 37px;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    background: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 3px;
}

.catalog-button {
    min-width: 620px;
    min-height: 60px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #83b3d3;
    border: none;
    border-radius: 4px;
    margin: 30px 218px;
    margin-bottom: 23px;
}

.pagination-button {
    line-height: 26px;
}

.catalog-bottom {
    display: flex;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 73px;
    border-top: 1px solid #E6E6E6;
}

.dropdown-number-hotels {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow.svg") center right 19px no-repeat;
    width: 160px;
    height: 48px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-left: 47px;
    font-size: 18px;
    line-height: 1.277;
    padding-left: 15px;
    padding-top: 10px;
}

.catalog-pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: auto;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
    border-radius: 4px;
}

.catalog-pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background-color: #83b3d3;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0 8px;
    margin-right: auto;
}

.catalog-pagination-link :focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.catalog-pagination-link-current {
    background-color: #f2f2f2;
    color: #000000;
    text-align: center;
    font-weight: 700;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
}

.text-output {
    display: flex;
    flex-wrap: wrap;
    margin-right: 51px;
}

.subscribe-bottom {
    padding-bottom: 141px;
}