@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-booking-link {
    padding: 8px 34px;
    background-color: #756257;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    align-self: center;
}

.button-booking-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    box-sizing: border-box;
}

.total {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    font-size: 10px;
    color: #fff;
    background-color: #7DB550;
    border-radius: 50%;
    z-index: 1;
}

/* Шапка */

.page-header {
    display: flex;
    align-items: flex-start;
    padding: 0 70px;
    font-family: inherit;
    color: #000000;
    background: #FFFFFF;
}

.page-header-logo {
    margin-bottom: -5px;
    z-index: 1;
    width: 140px;
    height: 70px;
    margin-right: 30px;
}

/* Навигация */

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;

}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    padding: 20px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-item {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0 17px;
}

.navigation-user-item {
    margin-right: 0;
}

.navigation-user-item:nth-child(3) {
    margin-right: 20px;
}

.navigation-user-item-link {
    display: flex;
    flex-wrap: wrap;
    background: #756257;
    Width: 160px;
    Height: 37px;
}

.navigation-user-link {
    display: flex;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    min-height: 66px;
}

.navigation-user-list {
    display: flex;
    align-items: center;
    min-width: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Основной контент */

.main-container {
    flex-grow: 1;
}

.main-index {
    padding-top: 0;
    background-color: #FFFFFF;
}

.hero {
    background-color: #69796e;
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 80px;
    min-height: 485px;
    text-align: center
}

.promo {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.promo-title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

/* Преимущества */

.advantages {
    background-color: #FFFFFF;
    width: 1200px;
}

.advantages-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
    counter-reset: li;
}

.advantages-caption {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-description {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.advantages-description-text {
    color: #333333;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item-text {
    width: 33.33%;
    color: #333333;
    height: 384px;
    box-sizing: border-box;
}

.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item h3::after {
    content: "—№"counter(li)"—";
    counter-increment: li;
    display: block;
}

.advantages-item-text-block {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
    margin: 0;
    padding-top: 97px;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.advantages-caption {
    font-size: 18px;
    line-height: 21px;
    padding-top: 30px;
    padding-bottom: 87px;
    margin: 0;
    text-align: center;
}

.advantages-backround {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    list-style-type: none;
}

.advantages-sublist-item:nth-child(even) {
    background: #FFFFFF;
}

.advantages-sublist-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.quest {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    width: 1200px;
}

.quest-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.quest-button {
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756257;
}

.subscribe-button {
    background: #83B3D3;
}

.subscribe {
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    width: 1200px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.subscribe-has-background {
    background-image: url("../images/email-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.subscribe-has-background .subscribe-title {
    color: #FFFFFF
}

.subscribe-button-newsletter {
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.social-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.social-link:active {
    opacity: 0.3;
    border: none;
}

.footer-social-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 120px;
    padding: 0;
    margin: 0;
}

.footer-contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/* Каталог */

.navigation-link-current {
    text-decoration: none;
}

.main-inner {
    background-color: #FFFFFF;
}

.inner-header-container {
    width: 1200px;
    height: 408px;
    background-image: url("../images/catalog-background-photo.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.inner-header-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    margin: 0px;
    margin-left: 70px;
    margin-bottom: 45px;
    padding: 0px;
    list-style-type: none;
}

.breadcrumbs-item {
    margin-right: 21px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.filters {
    display: flex;
}

.catalog-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-result {
    width: 1057px;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: auto;
}

.catalog-result-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
    color: #FFFFFF;
}

.catalog-filter-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-card-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.catalog-card-link {
    text-decoration: none;
    color: #000000;
}

.catalog-card-text {
    font-size: 18px;
    line-height: 23px;
}

.button-small {
    background: #756257;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    height: 37px;
}

.button-success {
    background: #7DB54F;
    border-radius: 4px;
    width: 141px;
    height: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.submit-button {
    background: #83B3D3;
    border-radius: 4px;
    width: 160px;
    height: 48px;
}

.reset-button {
    width: 160px;
    height: 23px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    background-color: transparent;
}

.button-favorites {
    font-style: normal;
    font-weight: bold;
    background-color: #83B3D3;
    color: #FFFFFF;
    border-radius: 4px;
    width: 141px;
    height: 18px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.catalog-card-text-rating {
    background: #F2F2F2;
    border-radius: 4px;
    width: 160px;
    height: 37px;
}

.pagination-button {
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
}

.catalog-pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #83B3D3;
}

.catalog-pagination-link-current {
    color: #000000;
    background: #F2F2F2;
}