@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    background-color: #E5E5E5;
}

.container {
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    vertical-align: top;
    font-family: "PT sans";
    padding: 9px 32px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: inherit;
    border: 0;
    border-radius: 4px;
    margin: 0;
}

.button:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px #756257;
}

.button-booking-link {
    padding: 8px 34px;
    background-color: #756257;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    align-self: center;
}

.button-booking-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
    box-sizing: border-box;
}

.total {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    font-size: 10px;
    color: #fff;
    background-color: #7DB550;
    border-radius: 50%;
    z-index: 1;
}

/* Шапка */

.page-header {
    display: flex;
    align-items: flex-start;
    padding: 0 70px;
    font-family: inherit;
    color: #000000;
    background: #FFFFFF;
}

.page-header-logo {
    margin-bottom: -5px;
    z-index: 1;
    width: 140px;
    height: 70px;
    margin-right: 30px;
}

/* Навигация */

.navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    display: inline-block;
    padding: 20px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: #ffffff;
    text-decoration: none;
}

.navigation-link:hover {
    color: rgba(117, 98, 87, 1);
    position: static;
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
    position: static;
}

.navigation-link-current {
    text-decoration: none;
}

.navigation-link-current::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgba(117, 98, 87, 1);
    right: 0;
    left: 0;
    height: 2px;
}

.navigation-item {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0 17px;
    position: relative;
}

.navigation-user-item {
    margin: 0;
}

.navigation-user-item:last-child {
    margin-left: 20px;
}

.navigation-user-item-link {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    background: #756257;
    Width: 160px;
    Height: 37px;
}

.navigation-user-item-link:hover {
    background-color: rgba(97, 80, 72, 1);
}

.navigation-user-item-link:active {
    background-color: rgba(97, 80, 72, 1);
    color: rgba(255, 255, 255, 0.3);
}

.navigation-user-item-link:focus-visible {
    background-color: rgba(97, 80, 72, 1);
    outline: 3px solid #83b3d3;
}

.number-favoutites:active::before {
    color: rgba(255, 255, 255, 0.3);
}

.navigation-user-list {
    display: flex;
    align-items: center;
    min-width: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-user-link {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    min-height: 66px;
}

.navigation-user-link {
    fill: #000000;
}

.navigation-user-link:hover {
    fill: rgba(117, 98, 87, 1);
}

.navigation-user-link:active {
    fill: rgba(117, 98, 87, 0.3);
}


/* Основной контент */

.main-container {
    flex-grow: 1;
}

.main-index {
    padding-top: 0;
    background-color: #FFFFFF;
}

.hero {
    position: relative;
    background-color: #69796e;
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 80px;
    min-height: 485px;
    text-align: center
}

.hero::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/decor-mask.svg");
    background-repeat: no-repeat;
}

.promo {
    display: block;
    font-size: 22px;
    line-height: 35.8px;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 63px 210px 80px 210px;
}

.promo-title {
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.promo-subtitle {
    font-weight: 400;
    color: #333333;
    margin: 0;
    font-size: 22px;
    line-height: 36px;
}

/* Преимущества */

.advantages {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0;
}

.advantages-list {
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-caption {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 89px;
    padding-left: 75px;
    padding-right: 75px;
}

.advantages-description {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding: 29px 70px;
}

.advantages-item-text-block {
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    background-color: #83B3D3;
    color: #FFFFFF;
    padding-top: 94.7px;
}

.advantages-description-text {
    color: #333333;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;
}

.advantages-item-text {
    display: block;
    color: #333333;
    margin: auto;
    height: 200px;
}

.container-text {
    width: 33.33%;
    box-sizing: border-box;
    height: 385px;
}

.container-text h3 {
    margin: auto;
    width: 200px;
}

.container-text p {
    width: 260px;
    margin: 30px;
}


.advantages-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
    position: relative;
}

.advantages-name {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 4px;
    text-transform: uppercase;
}


.advantages-item:nth-child(even) {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-number {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 21px;
    margin: 0;
}

.advantages-number span {
    width: 100%;
}

.advantages-title {
    margin: 0;
    padding: 23px 75px 20px 75px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.advantages-backround {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    list-style-type: none;
    width: 33.33%;
    position: relative;
}

.advantages-image {
    max-width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    background-size: cover;
}

.advantages-sublist-item {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    width: 400px;
    padding-top: 84.5px;
}

.advantages-sublist-item:nth-child(even) {
    background: #FFFFFF;
}

.advantages-sublist-item:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.quest {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    padding: 84px 241px 88px 241px;
}

.quest-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
}

.quest-subtitle {
    margin-top: 30px;
}

.quest-button {
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    color: #FFFFFF;
    background-color: #756257;
    margin-top: 33px;
    border-radius: 10px;
}

.quest-button:hover {
    background-color: rgba(97, 80, 72, 1);
}


.quest-button:focus-visible {
    outline: 3px solid #83b3d3;
    background-color: rgba(97, 80, 72, 1);
}


.quest-button:active {
    background-color: rgba(97, 80, 72, 1);
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-button {
    min-width: 200px;
    min-height: 60px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background: #83b3d3;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.subscribe-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:focus-visible {
    background-color: rgba(104, 162, 202, 1);
    outline: 3px solid #756257;
}

.subscribe-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(104, 162, 202, 1);
}

.subscribe {
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
}

.subscribe-subtitle {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding: 0 0 16px;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 45px;
    text-transform: uppercase;
    color: #000000;
}

.subscribe-has-background {
    background-image: url("../images/email-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 100%;
    height: 415px;
    display: flex;
}


.subscribe-has-background .subscribe-title {
    color: #FFFFFF
}

.subscribe-background {
    margin: 98px auto;
}

.subscribe-button-newsletter {
    min-width: 200px;
    min-height: 60px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background: #83b3d3;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.subscribe-button-newsletter:hover {
    background-color: rgba(104, 162, 202, 1);
}


.subscribe-button-newsletter:focus-visible {
    background-color: rgba(104, 162, 202, 1);
    outline: 3px solid #756257;
}


.subscribe-button-newsletter:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(104, 162, 202, 1);
}

.subscribe-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.field-email {
    width: 600px;
    min-height: 60px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    background: #f2f2f2;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0 22px;
}

.field:invalid {
    background-color: rgba(229, 229, 229, 1);
    outline: 2px solid #ff5757;
}

.field:focus-visible {
    background-color: rgba(229, 229, 229, 1);
    outline: 3px solid #83b3d3;
}


.field:hover {
    background-color: rgba(229, 229, 229, 1);

}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding-left: 66px;
    padding-right: 67px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    fill: #83B3D3;
    text-decoration: none;
}

.social-link:hover {
    fill: #68A2CA;
}

.social-link:focus-visible {
    color: rgba(104, 162, 202, 1);
    border-radius: 3px;
    outline-color: #83b3d3;
}

.social-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.social-link:active {
    opacity: 0.3;
    border: none;
}

.footer-social-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 120px;
    padding: 0;
    margin: 0;
}

.footer-contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.footer-contacts-phone:hover {
    color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus-visible {
    opacity: rgba(117, 98, 87, 1);
    outline: 3px solid #83b3d3;
    border-radius: 10px;
}

.footer-contacts-phone:active {
    opacity: rgba(117, 98, 87, 0.3);
}

.text {
    display: inline-block;
    color: #000000;
}

.page-footer-logo {
    display: inline-block;
    color: #000000;
    margin-right: 5px;
}

.page-footer-logo:focus-visible {
    color: rgb(117, 98, 87);
    border-radius: 10px;
    outline: 3px solid #83B3D3;
    outline-offset: 10px;
}

.page-footer-logo:hover {
    color: rgb(117, 98, 87);
}

.page-footer-logo:active {
    color: rgb(117, 98, 87);
    opacity: 0.6;
}

/* Каталог */

.main-inner {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.inner-header-container {
    background-size: 1200px 100%;
    min-height: 408px;
    padding: 39px 72px 45px 71px;
    background-image: url("../images/catalog-background-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

.inner-header-title {
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 0;
}

.breadcrumbs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    list-style-type: none;
    margin-right: auto;
    right: 8px;
}

.breadcrumbs li:first-of-type:before {
    position: absolute;
    bottom: 5px;
    right: 1020px;
    content: "";
    width: 5px;
    height: 8px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.breadcrumbs-item {
    margin: 0 10px 0 10px;
}

.breadcrumbs-link {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.filter-container {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.catalog-filter-group {
    border: 0;
    margin: 0 62px 0 0;
    padding: 0;
}

.radio {
    position: absolute;
    margin-left: -37px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;

}

.filters-group {
    flex: none;
    box-sizing: border-box;
    width: 287px;
    margin: 0 81px 0 auto;
    padding: 0;
    border: none;
}

/* добавление поля цены */

.options-has-background {
    color: #fff;
    background-color: transparent;
}

.range-wrapper-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 34px 0 30px 0;
}

.catalog-filter-label {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 10px 40px 10px 17px;
    width: 100%;
    height: 48px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.catalog-filter-input[type=number] {
    -moz-appearance: textfield;
}

.catalog-filter-label:first-child .catalog-filter-input {
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.catalog-filter-label:last-child .catalog-filter-input {
    border-radius: 0 4px 4px 0;
}

.catalog-filter-label span {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.catalog-filter-input:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-input:focus {
    box-shadow: inset 0px 0px 3px #81B3D2;
    border-color: #81B3D2;
    outline: none;
}

.catalog-filter-input:active {
    background-color: #756257;
    box-shadow: none;
    border-color: #ffffff;
}


/* вставка с ранжированием цены */

.range {
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    width: 267px;

}

.scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.scale-line {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
}

.toggle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 5px;
}

.catalog-filter-item {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
}

.form-control {
    position: relative;
    display: block;
    padding-left: 38px;
}

.control-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.control-mark {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: auto;
}

.form-control:hover .control-mark {
    background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked+.control-mark {
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: center;
}

.control-input:focus+.control-mark::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.form-control:active .control-mark {
    background-color: rgba(255, 255, 255, 0.3);
}

.form-control:active .control-mark::after {
    display: none;
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
    background-origin: content-box;
}


.catalog-result {
    display: flex;
    padding: 39px 72px 72px;
    flex-direction: column;
}

.filters-buttons {
    font-family: "PT Sans", "Arial", sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 61px;
}

.catalog-result-text {
    margin: 0;
    margin-right: auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 5px;
}

.catalog-filter-list {
    list-style: none;
    padding: 0;
    list-style: none;
}

.catalog-wrapper {
    display: flex;
    margin-bottom: 49px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    box-sizing: border-box;
    padding: 12px 40px 12px 15px;
    width: 287px;
    font-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3' clip-path='url(%23clip0_24196_269)'%3E%3Cpath d='M6.6 6.7001L11.7 1.4001C12 1.1001 12 0.500098 11.7 0.200098C11.4 -0.0999023 10.8 -0.0999023 10.5 0.200098L6 4.9001L1.5 0.200098C1.2 -0.0999023 0.6 -0.0999023 0.3 0.200098C0.1 0.300098 0 0.600098 0 0.800098C0 1.0001 0.1 1.2001 0.3 1.4001L5.4 6.7001C5.7 7.1001 6.3 7.1001 6.6 6.7001Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24196_269'%3E%3Crect width='12' height='7' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: right 20px center;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    font-family: "PT sans", regular;
}

.dropdown::-ms-expand {
    display: none;
}

.dropdown:hover {
    border: 2px solid #83B3D3;
}

.dropdown:focus {
    border: 2px solid #83B3D3;
    outline: none;
}

.dropdown:focus:not(:focus-visible) {
    border: 2px solid #E6E6E6;
}

.dropdown:focus-visible {
    border: 2px solid #83B3D3;
    outline: none;
}

.dropdown:active {
    border: 2px solid #E6E6E6;
    color: rgba(51, 51, 51, 0.3);
}

.catalog-card-item {
    box-sizing: border-box;
    width: 100%;
    max-width: 340px;
    padding: 20px;
}

.catalog-displaytype {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 71px;
    padding: 0;
    list-style: none;
}

.catalog-displaytype-item {
    margin: 4px 0 4px 8px;
    padding: 0;
}

.catalog-displaytype-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 48px;
    height: 48px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.catalog-card-image-link {
    display: block;
    width: 300px;
    height: 206px;
    background-color: #ccc;
}

.catalog-card-link {
    display: block;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

.catalog-card-link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 16px;
    margin-top: 16px;
}

.catalog-card-text {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    line-height: 23px;
}

.search-result-rating-block {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.search-result-stars {
    color: #83B3D3;
    letter-spacing: 0.35em;
    margin-top: 20px;
    font-size: 18px;
    line-height: 31px;
}

.catalog-displaytype-link:not(.catalog-displaytype-current):hover {
    border: 2px solid #83B3D3;
}

.catalog-displaytype-link:focus {
    border: 2px solid #83B3D3;
    outline: none;
}

.catalog-displaytype-link:focus:not(:focus-visible) {
    border: 2px solid #E6E6E6;
}

.catalog-displaytype-current {
    border: 2px solid #000000;
}

.catalog-displaytype-current:focus-visible {
    border: 2px solid #83B3D3;
    outline: none;
}

.catalog-displaytype-link:focus-visible {
    border: 2px solid #83B3D3;
    outline: none;
}

.catalog-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 18px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 34px;
}

.catalog-card-linkimage:hover {
    opacity: 0.6;
}

.catalog-card-linkimage:focus {
    box-shadow: 0 0 0 3px #83B3D3;
    outline: none;
}

.catalog-card-linkimage:focus:not(:focus-visible) {
    box-shadow: none;
}

.catalog-card-linkimage:focus-visible {
    outline: 3px solid #83B3D3;
}

.catalog-card-linkimage:active {
    opacity: 0.3;
}

.catalog-card-title {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 0;
    font-size: 24px;
    line-height: 31px;
}

.card-link-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;

}

.button-small {
    display: inline-block;
    padding: 8px 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #756257;
    border-radius: 4px;
    justify-self: start;

}

.button-small:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
}

.button-small:hover {
    background-color: #615048;
}

.submit-button {
    background: #83B3D3;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    padding: 14px 20px;
    margin-bottom: 20px;
    justify-items: center;
    box-sizing: border-box;
}

.submit-button:hover {
    background-color: #68a2ca;
}

.submit-button:focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #ffffff;
}

.submit-button:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.6);
}

.reset-button {
    width: 160px;
    width: min-content;
    align-self: center;
    padding: 0 10px;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
}

.reset-button:hover {
    opacity: 0.6;
}

.reset-button:focus {
    box-shadow: 0 0 0 3px var(--primary);
}

.reset-button:focus:not(:focus-visible) {
    box-shadow: none;
}

.reset-button:focus-visible {
    outline: 3px solid var(--primary);
}

.reset-button:active {
    opacity: 0.3;
}

.button-favorites {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #83b3d3;
    justify-self: start;
}

.button-favorites:hover {
    background-color: #68A2CA;
}

.button-success {
    background-color: #7DB54F;
}

.button-success:hover {
    background-color: #6C9E42;
}

.button-small:active,
.button-favorites:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-card-text-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 37px;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    background: #f2f2f2;
    border-radius: 4px;
    margin-bottom: 0;
}

.catalog-button {
    min-width: 620px;
    min-height: 60px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #83b3d3;
    border: none;
    border-radius: 4px;
    margin: 30px 218px;
    padding: 0;
}

.pagination-button {
    position: relative;
    margin: 0 auto;
    margin-bottom: 29px;
    line-height: 26px;
}

.pagination-button:hover {
    background-color: #68a2ca;
}


.pagination-button:focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #756257;
}


.pagination-button:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.3);
}

.dropdown-number-hotels {
    width: 160px;
}

.catalog-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    padding-top: 26px;
    border-top: 1px solid #E6E6E6;
}

.catalog-pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: auto;
}

.catalog-pagination-item {
    display: flex;
    margin: 0 8px 0 0;
    padding: 0;
}

.catalog-pagination-link:hover {
    background-color: #68a2ca;
}

.catalog-pagination-link:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-pagination-link:focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #756257;
}

.catalog-pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 15px;
    background-color: #83b3d3;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    margin-right: auto;
    border-radius: 4px;
}

.catalog-pagination-link:hover {
    background-color: #68a2ca;
}

.catalog-pagination-link:focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #756257;
}

.catalog-pagination-link:active {
    background-color: #68a2ca;
    opacity: 0.3;
}

.catalog-pagination-link:active:active {
    background-color: #f2f2f2;
}

.catalog-pagination-link-current {
    background-color: #f2f2f2;
    color: #000000;
}

.catalog-pagination-link-current:hover {
    background-color: #f2f2f2;
}

.text-output {
    display: flex;
    flex-wrap: wrap;
    margin-right: 51px;
    font-size: 18px;
    line-height: 23px;
}

.subscribe-bottom {
    display: block;
    position: relative;
    margin: 0;
    min-height: 382px;
    min-width: 1200px;
    padding: 0;
}

/* Оформление модального окна */

.modal-wrap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(93, 93, 93, .588);
    z-index: 9;
}

.modal-page {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(242, 242, 242, 0.8);
    z-index: 10;
}

.modal-page-active {
    display: block;
}

.modal-container {
    width: 575px;
    margin: 0 auto;
}

.modal-box {
    position: absolute;
    top: 67px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    width: 715px;
    height: 561px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-top: 42px;
    padding-right: 5px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    margin-top: -6px;
}

.modal-title {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.close-modal {
    width: 53px;
    height: 53px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    background-position: center;
}

.close-modal:hover {
    background-color: #e6e6e6;
}

.close-modal:focus-visible {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
}

.close-modal:active {
    background-color: #e6e6e6;
    opacity: 0.6;
}

.modal-form {
    display: grid;
    grid-template-columns: 140px 135px 158px auto;
    row-gap: 26px;
    column-gap: 4px;
    align-items: center;
    font-weight: 700;
}

.arrival-date {
    grid-column: 1/2;
    margin-bottom: 13px;
}

.input-arrival-date {
    appearance: none;
    width: 420px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.22px;
    margin-left: 11px;
    padding-left: 19px;
    margin-bottom: 13px;
}

.input-arrival-date:hover,
.input-departure-date:hover {
    background-color: #e6e6e6;
}

.input-arrival-date:focus-visible,
.input-departure-date:focus-visible {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
}

.input-arrival-date:active,
.input-departure-date:active {
    outline: 2px solid #000000;
    background-color: #ffffff;
}

.error-notification {
    display: none;
    padding-left: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5px;
    color: #ff5757;
}

.error-notification-active {
    display: block;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/-1;
    position: relative;
}

.input-calendar-arrival {
    position: absolute;
    right: 26px;
    bottom: 31px;
    width: 15px;
    height: 15px;
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.6;
}

.input-calendar-arrival:focus-visible,
.input-calendar-departure:focus-visible {
    outline: 3px solid #83b3d3;
    outline-offset: 4px;
    border-radius: 3px;
}

.departure-date {
    grid-column: 1/2;
    margin-bottom: 13px;
}

.input-departure-date {
    grid-column: 2/-1;
    width: 420px;
    height: 50px;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.22px;
    margin-left: 11px;
    padding-left: 19px;
    margin-bottom: 13px;
}

.input-calendar-departure {
    position: absolute;
    right: 26px;
    bottom: 32px;
    width: 15px;
    height: 15px;
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.6;
}

.positive-notification {
    display: none;
    padding-left: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5px;
    color: #333333;
}

.positive-notification-active {
    display: block;
}

.adults-lebel {
    grid-column: 1/2;
}

.adults-box {
    position: relative;
    grid-column: 2/3;
    margin-left: 13px;
}

.adults-number {
    width: 133px;
    height: 50px;
    border: none;
    background: #f2f2f2;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.22px;
}

.minus-button {
    position: absolute;
    top: 14px;
    left: 14px;
    border: none;
    background: transparent;
}

.minus-button svg {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
}

.minus-button:hover svg {
    opacity: 1;
}

.minus-button:focus-visible {
    opacity: 1;
    outline: 3px solid #83b3d3;
    outline-offset: 0;
    border-radius: 4px;
}

.minus-button:active svg {
    opacity: 0.2;
}

.plus-button {
    position: absolute;
    top: 17px;
    right: 3px;
    border: none;
    background: transparent;
}

.plus-button svg {
    opacity: 0.3;
}

.plus-button:hover svg {
    opacity: 1;
}

.plus-button:active svg {
    opacity: 0.2;
}

.plus-button:focus-visible {
    opacity: 1;
    outline: 3px solid #83b3d3;
    border-radius: 4px;
}

.children-box .plus-button {
    position: absolute;
    top: 15px;
    right: 25px;
    border: none;
}

.children-label {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    margin-left: 9px;
    justify-self: center;
    margin-right: -38px;
}

.info-children {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #83b3d3;
    border: none;
    border-radius: 50%;
    margin-left: 9px;
    background-position: center;
    padding: 6.5px;
}

.notification-children {
    position: relative;
    display: block;
    z-index: 1;
    width: 256px;
    height: 143px;
    top: 26px;
    left: -119px;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 30%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    color: #ffffff;
    text-align: left;
    padding: 20px 0px 18px 22px;
    transform: scale(0);
    transition: 0.155s linear;
    cursor: pointer;
}

.info-children:hover .notification-children {
    transform: scale(1);
}

.notification-children::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
    width: 19px;
    height: 9px;
    border: 20px solid transparent;
    border-bottom: 20px solid #333333;
}

.children-box {
    position: relative;
    grid-column: 4/5;
}

.children-number {
    width: 133px;
    height: 50px;
    border: none;
    background: #f2f2f2;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.22px;
}

.adults-number[type="number"],
.children-number[type="number"] {
    -moz-appearance: textfield;
}

.adults-number[type="number"]::-webkit-inner-spin-button,
.children-number[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.button-modal-form {
    grid-column: 1/-1;
    width: 575px;
    height: 60px;
    background-color: #83b3d3;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
    color: #ffffff;
    margin-top: 13px;
    padding-left: 15px;
}

.button-modal-form:hover {
    background-color: #68a2ca;
}

.button-modal-form:focus-visible {
    background-color: #68a2ca;
    outline: 3px solid #756257;
}

.button-modal-form:active {
    background-color: #68a2ca;
    color: rgba(255, 255, 255, 0.3);
}